<nav class="navbar navbar-inverse bg-inverse sticky-top navbar-toggleable-sm">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#nav-content" aria-controls="nav-content" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container"> 
    <h1 class="navbar-brand mb-0">Matchday</h1> 
    <nav class="collapse navbar-collapse" id="nav-content">   
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <%= link_to 'Leagues', leagues_path, class: 'nav-link' %>
        </li>
      </ul>
    </nav>
  </div>   
</nav>